.custom-btn{
    background-color: #b0192e;
    color: #fff;
    border: none;
    padding: 8px;
    border-radius: 10px;
    margin: 10px;
}

.custom-btn:hover{
    background-color: #b0192d69;
}

.service-container{
    transition: transform 0.5s;
}
.service-container:hover{
    transform: translateY(10px);
}