.notfound-image{
    height: 400px;
}
.notfound-button button{
    position: relative;
    top: -80px;
}

@media only screen and (max-width: 678px) {
    .notfound-image img{
        width: 100%;
    }
}